<div class="container">
  {# <h1>{{animal.name}}</h1> #}
  <div class="card" style="width: 20rem;">
      <img src="https://www.w3.org/html/logo/downloads/HTML5_sticker.png" class="card-img-top" alt="Accroche HTML">
      <div class="card-body">
          <h2 class="card-title">Titre</h2>
          <h3 class="card-subtitle">Sous titre</h3>
          <p class="card-text">Du texte sous le titre dans le corps de carte</p>
          <a href="#" class="btn btn-primary">Un lien</a>
      </div>
  </div>
</div>