<div class="index-habitat">
    <div class="row g-0 pt-5">
        <div class="title-box col-6 col-md-3 col-xl-3 text-center mx-auto">
            <h2 class="text-center">Découvrez nos animaux par habitat</h2>
        </div>
    </div>
    <div class="d-flex justify-content-center index-habitat__cards">
        <div class="index-habitat__card card card-1 m-3" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-text">LES ANIMAUX DES JUNGLES</h2>
            </div>
        </div>
        <div class="index-habitat__card card card-2 m-3" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-text">LES ANIMAUX DES FORÊTS</h2>
            </div>
        </div>
        <div class="index-habitat__card card card-3 m-3" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-text">LES ANIMAUX DES PRAIRIES</h2>
            </div>
        </div>
        <div class="index-habitat__card card card-4 m-3" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-text">LES ANIMAUX DE LA SAVANE </h2>
            </div>
        </div>
    </div>
</div>
