<div class="index-habitat">
    <div class="row g-0 pt-5">
        <div class="title-box col-6 col-md-3 col-xl-3 text-center mx-auto">
            <h2 class="text-center">Découvrez les Races</h2>
        </div>
    </div>
    <div class="d-flex justify-content-center index-habitat__cards">
        {% for race in races %}
        <div class="index-habitat__card card card-1 m-3" style="width: 18rem;">
            <div class="card-body">
                {% if race.id is defined and race.id is not null %}
                    <a href="{{ path('app_gallery_race', {id: race.id}) }}">
                        <h2 class="card-text text-uppercase">{{ race.label }}</h2>
                    </a>
                {% else %}
                    <a href="{{ path('app_gallery_index') }}">
                        <h2 class="card-text text-uppercase">{{ race.label }}</h2>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}