{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
  <section>
    <h1>Rentrez votre nouveau mot de passe</h1>
    {{ form_start(newPasswordForm) }}
    {{ form_row(newPasswordForm.email) }}
    {{ form_row(newPasswordForm.password) }}
    <button type="submit" class="btn btn-primary">Envoyer le mot de passe</button>
    {{ form_end(newPasswordForm) }} 
  </section>
{% endblock %}