{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <section class="contact">
        <div class="container d-flex flex-column align-items-center">
            {% for message in app.flashes('succes') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}

            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <h2 class="text-center">Contactez-nous</h2>
                {{ form(form) }}
            </div>
        </div>
    </section>
    <section>
            <div class="contact__image my-5">
                <img src={{ asset('images/heros/lizard.jpg') }} alt="image d'animal">
            </div>
    </section>

{% endblock %}
