{% extends 'base.html.twig' %}

{% block body %}
<body>
    <section class="index-hero">
        <div class="container pt-4 pt-xl-5">
            <div class="row g-0 pt-5">
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="index-hero__text text-center">
                        <h1>Vivez une Aventure Épique au Zoo Arcadia</h1>
                        <a href="#nous" class="btn btn-1 mt-3" type="button" >A PROPOS DE NOUS</a>
                    </div>
                </div>  
            </div>
        </div>
    </section>

    <section class="index-intro mt-5">
        <div class="container text-center py-5">
            <h2>Découvrez le Zoo Arcadia</h2>
            <h3>Rejoignez-nous pour une aventure inoubliable, des rencontres uniques et des leçons d'écologie marquantes. Venez explorer nos parcours animaliers dès aujourd'hui !</h3>
        </div>
    </section>

    <section class="index-habitat">
        <div class="row g-0 pt-5">
            <div class="title-box col-6 col-md-3 col-xl-3 text-center mx-auto">
                <h2 class="text-center">Découvrez nos animaux par habitat</h2>
            </div>
        </div>

        <div class="d-flex justify-content-center index-habitat__cards">
            <div class="index-habitat__card card card-1 m-3" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-text">LES ANIMAUX DES JUNGLES</h2>
                </div>
            </div>
            <div class="index-habitat__card card card-2 m-3" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-text">LES ANIMAUX DES FORÊTS</h2>
                </div>
            </div>
            <div class="index-habitat__card card card-3 m-3" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-text">LES ANIMAUX DES PRAIRIES</h2>
                </div>
            </div>
            <div class="index-habitat__card card card-4 m-3" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-text">LES ANIMAUX DE LA SAVANE </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="index-services">
        <div class="index-services__text row g-0 pt-5">
            <div class="col-6 col-md-3 col-xl-3 text-center mx-auto">
                <a href"{{path('app_services')}}"><h2 class="text-center title-box mx-auto">Découvrez nos services</h2></a>
                <h3 class="text-center mb-5">Découvrez tous nos services et préparez votre visite !</h3>
            </div>
        </div>

        <div class="index-services__cards d-flex justify-content-center">
            <div class="card card-1 m-3" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-text">Tarifs visite guidé</h2>
                </div>
            </div>
            <div class="card card-2 m-3" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-text">Visite en train</h2>
                </div>
            </div>
            <div class="card card-3 m-3" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-text">Restaurant</h2>
                </div>
            </div>
            <div class="card card-4 m-3" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-text">Horaires</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="index-about" id="nous">
        <div class="container text-center py-5">
            <h2>À propos de nous</h2>
            <div class="my5-3 p-3">
                <p>Depuis 1960, le Zoo Arcadia vous plonge au cœur de la nature avec des animaux exceptionnels dans des habitats variés : la savane africaine, la jungle dense et les marais tranquilles.</p>
                <p>Nous mettons un point d'honneur au bien-être animal avec des soins quotidiens assurés par nos experts. Grâce à une gestion financière solide sous la direction de José, notre zoo est plus qu'une simple attraction locale : c'est une porte ouverte sur le monde animal.</p>
            </div>
            <a href="#"><h2 class="text-center title-box mx-auto">En savoir plus</h2></a>
        </div>
    </section>

    <section class="comments">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 justify-content-center g-4 py-5">
            <div class="card card-comment col mx-3">
                <div class="card-body">
                    <span class="comment-rating"></span>
                    <p class="card-date">07/07/2024</p>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae quae hic optio nemo rerum vitae aperiam dolorem, dicta quaerat id, enim vero laborum eius quidem.</p>
                    <h6 class="comment-name">Nom et Prénom</h6>
                </div>
            </div>
            <div class="card card-comment col mx-3">
                <div class="card-body">
                    <span class="comment-rating"></span>
                    <p class="card-date">07/07/2024</p>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae quae hic optio nemo rerum vitae aperiam dolorem, dicta quaerat id, enim vero laborum eius quidem.</p>
                    <h6 class="comment-name">Nom et Prénom</h6>
                </div>
            </div>
            <div class="card card-comment col mx-3">
                <div class="card-body">
                    <span class="comment-rating"></span>
                    <p class="card-date">07/07/2024</p>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae quae hic optio nemo rerum vitae aperiam dolorem, dicta quaerat id, enim vero laborum eius quidem.</p>
                    <h6 class="comment-name">Nom et Prénom</h6>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center p-5">
            <a href=""><button class="btn mx-3">LAISSER UN AVIS</button></a>
            <a href="{{path('app_contact')}}"><button class="btn btn-2 mx-3">CONTACTER</button></a>
        </div>
    </section>



</body>
{% endblock %}
