@use '../base/colors' as *;
footer{
    background-color: $primary;
}
.footer-box {
    background-color: secondary;
    padding: 20px 0 20px 0;
    max-width: 300px;
    border-radius: 10px;

}
.partner {
    border-radius: 50%;
}