@use '../base/colors' as *;

// <!-- HTML !-->
// <button class="button-28" role="button">Button 28</button>

/* CSS */
.button-main {
  appearance: none;
  background-color: transparent;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  
  &:disabled {
    pointer-events: none;
  }
  
  
  &:hover {
    color:$light;
    background-color: $dark;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  &:active {
    box-shadow: none;
    transform: translateY(0);
  }
}
  
.btn {
  @extend .button-main;
  background-color: $primary;
  color: $secondary;
  margin-bottom: 1rem;
}

.btn-2 {
  @extend .button-main;
  background-color: $secondary;
  color: $light;
  margin-bottom: 1rem;
}

.btn-3 {
  @extend .button-main;
  background-color: $info;
  color: $secondary;
  margin-bottom: 1rem;
}
