{% extends 'base.html.twig' %}

{% block title %}Le Zoo et les Animaux{% endblock %}


{% block body %}
<body>
    <section class="gallery-hero">
        <div class="container pt-4 pt-xl-5">
            <div class="row g-0 pt-5">
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="gallery-hero__text text-center">
                        <h1>Le Zoo et les Animaux</h1>
                    </div>
                </div>  
            </div>
        </div>
    </section>
    <section class="gallery__filter">
        <div class="text-center mt-3 py-5">
            <h2>Découvrez des animaux extraordinaires !</h2>
        </div>
        <div class="container form-control text-center ">
            <h4>Chercher un Animal</h4>
            <div class="col text-center mt-3">
                    <div class="row d-flex justify-center align-items-center">
                        <div class="col">
                            <p>Chercher par prénom</p>
                        </div>
                        <div class="col">
                            <p>Habitat</p>
                        </div>
                        <div class="col">
                            <p>Race</p>
                        </div>  
                    </div>
                    <button type="submit" class="btn btn-primary -100 mt-5">CHERCHER</button>
                </div>
            </div>
        </section>
        <section>
            {% include '_partials/_habitat-cards.html.twig' %}
        </section>
        <section>
            {% include '_partials/_race-cards.html.twig' %}
        </section>
{% endblock %}
            
            