{% extends 'base.html.twig' %}

{% block body %}
<body>
    <section class="gallery-hero">
        <div class="container pt-4 pt-xl-5">
            <div class="row g-0 pt-5">
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="gallery-hero__text text-center">
                        <h1>Le Zoo et les Animaux</h1>
                    </div>
                </div>  
            </div>
        </div>
    </section>
    <section class="gallery__animal">
        <div class="text-center mt-3 py-3">
            <h1>Découvrez des animaux extraordinaires !</h1>
        </div>
        <div class="container form-control">
            <div class="col form-control text-center">
                <h2>Filtrer</h2>
                <div class="container d-flex justify-center align-items-center">
                    <div class="row justify-center align-items-center">
                        <h4>Nom</h4>
                    </div>
                    <div class="row m-5">
                        <h6>Habitat</h6>
                        <h6>Race</h6>
                    </div>
                    <button type="submit" class="btn btn-primary -100 mt-5">Filtrer</button>
                </div>
            </div>
            <div class="container">
                <div class="row row-cols-lg-3">
                    <div class="col px-3 py-3 d-flex justify-content-center">
                        <div class="gallery__card" style="width: 18rem; height: 30rem;">
                            <div class="card-body">
                                <h5>Nom</h5>
                                <img src="{{ asset('images/gallery/animals/animal1.jpg') }}" class="card-img-top" alt="...">
                                <ul class="card-text mt-2">
                                    <li>Description</li>
                                    <li>Habitat</li>
                                    <li>Race</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>    
            
            {% endblock %}
            
            