*{
    list-style: none;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: rgb(255, 255, 255);

}

/*Index*/

.index-hero {
    background-image: url(../images/heros/giraffes.jpg); 
    background-size: cover; 
    background-position: center; 
    height: 530px;
}

.index-hero__text{
    color: white;
    text-align: center;
    padding-top: 200px;
}

.title-box {
    background-color: rgba(40, 36, 36, 0.5);
    padding: 20px 0 20px 0;
    border-radius: 10px;
    max-width: 400px;
    min-width: 300px;
}

.index-services__cards, .index-habitat__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    min-height: 300px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.259);
}

.card-comment {
    width: 18rem;
}

/* footer */

footer{
    background-color: rgba(40, 36, 36, 0.5);
}
.footer-box {
    background-color: rgba(61, 150, 61, 0.792);
    padding: 20px 0 20px 0;
    max-width: 300px;
    border-radius: 10px;

}
.partner {
    border-radius: 50%;
}

/*Services*/

.services-hero {
    background-image: url(../images/heros/tigre.jpg); 
    background-size: cover; 
    background-position: center; 
    height: 350px;
}

.services-hero__text {
    color: white;
    text-align: center;
    padding-top: 100px;
}

.services-cards__train img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.services-restaurant{
    background-color: rgb(101, 69, 30); 
}
.services-restaurant img {
    max-width: 700px;
    max-height: 400px;
    object-fit: cover;
}

/*Contact*/
.contact__image img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.259);
    border-radius: 10px;
    max-width: 40rem;
    margin-top: 5%;
    justify-content: center;
}