<h1>Création de nouveau mot de passe</h1>

<p>Bonjour,</p>
<p>
    Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous.
</p>
<p><a href="{{ url|raw }}">{{url|raw}}</a></p>

<p>
    Si vous n'avez pas demandé cette inscription, veuillez ignorer cet email.
</p>